<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings>
	<add name="CodeDevelopEntities" connectionString="metadata=res://*/Model.CodeDevelopModel.csdl|res://*/Model.CodeDevelopModel.ssdl|res://*/Model.CodeDevelopModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-949N0AA;initial catalog=CodeDevelop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="CodeDevelopEntities1" connectionString="metadata=res://*/Model.CodeDevelop.csdl|res://*/Model.CodeDevelop.ssdl|res://*/Model.CodeDevelop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-949N0AA;initial catalog=CodeDevelop;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CodeDevelopEntities2" connectionString="Server=localhost;Database=CodeDevelop;Integrated Security=True;" providerName="System.Data.SqlClient"/>
</connectionStrings>
</configuration>